.small-8.large-centered.columns

  %h1 Web-jukebox

  %p Lots of text describing what we are and what we do because we need to have content on this site because one third of the grade is from content


  %h2 Listing rooms

  - @rooms.each do |room|
    = link_to room do
      .button Siirry huoneeseen
