.small-8.large-centered.columns

  %h1 Web-jukebox

  %p This is a nice application. You can listen to music from a specific theme here. Choose a room and theme and start listening!

  - @rooms.each do |room|
    = link_to room do
      .button= "Go to Jukebox with the theme #{room.theme.name}"
