%h1 Room foo
%div{:id => "kokohuone", :class => "kokohuonePaadiv"}
  %div{:id => "soundCloudPlacehorder", :class => "SoundCloudPlaceholderDiv"}
    %p taretdrgfgdfdsgdgdgdgf
  %div{:id => "nextsongPlaceholder", :class => "nextsongPlaceholderDiv"}
    %p Aleksi imee loysaa lekkeria!
  %div{:id => "addNewSongPlaceholder", :class => "addNewSongPlaceholderDiv"}
    %p Vittumitapaskaa

