- content_for(:title, 'About Us')
.small-8.large-centered.columns

  .header.small-12.columns
    %h1 About us
    .header.small-12.columns
      %p We are three students from Aalto University School of science. This service is our final project for course T-111.4360 Design of WWW Services (4 cr) in Aalto University School of science.
    .header.small-12.columns
      %p Jukka Eerikainen
      %p Merituuli Melkko
      %p Nico Liljestrand
	  %p You can contact us via e-mail: firstname.lastname@aalto.fi
	
