- content_for(:title, 'FAQ')
.small-8.large-centered.columns

  .header.small-12.columns
    %h1 FAQ
  .header.small-12.columns
    %h4 Why is my player not working?
    %p This problem usually occurs wgen internet connection is poor.
  .header.small-12.columns
    .links.small-12.columns
      = link_to "About Us", page_path("about")
    .links.small-12.columns
      = link_to "Terms of use", page_path("terms")
    .links.small-12.columns
      = link_to "FAQ", page_path("FAQ")