- content_for(:title, 'Terms of service')
.small-8.large-centered.columns

  .header.small-12.columns
    %h1 Terms of use
  .header.small-12.columns
    %p We use soundcloud widget and soundcloud sound streaming in our service to play music in our service.