- content_for(:title, 'Terms of service')
.small-8.large-centered.columns

  .header.small-12.columns
    %h1 Terms of use
  .header.small-12.columns
    %p We use soundcloud widget and soundcloud sound streaming in our service to play music in our service.
  .header.small-12.columns
    .links.small-12.columns
      = link_to "About Us", page_path("about")
    .links.small-12.columns
      = link_to "Terms of use", page_path("terms")
    .links.small-12.columns
      = link_to "FAQ", page_path("FAQ")